[numerical]
n_macroparticles = 1000000
n_turns = 50000
n_bin = 100

[bunch]
bunch_current = [0.0001, 0.0003, 0.0005, 0.0007, 0.0009, 0.0011, 0.0013, 0.0015,
       0.0017, 0.0019, 0.0021, 0.0023, 0.0025, 0.0027, 0.0029, 0.0031,
       0.0033, 0.0035, 0.0037, 0.0039, 0.0041, 0.0043, 0.0045, 0.0047,
       0.0049, 0.0051, 0.0053, 0.0055, 0.0057, 0.0059, 0.0061, 0.0063,
       0.0065, 0.0067, 0.0069, 0.0071, 0.0073, 0.0075, 0.0077, 0.0079,
       0.0081, 0.0083, 0.0085, 0.0087, 0.0089, 0.0091, 0.0093, 0.0095,
       0.0097, 0.0099, 0.0101, 0.0103, 0.0105, 0.0107, 0.0109, 0.0111,
       0.0113, 0.0115, 0.0117, 0.0119]
Qp = [0, 1.6]
id_state = ["open", "close", "close_phase2"]
include_Zlong = ["False", "True"]
harmonic_cavity = ["False", "True"]
max_kick = [1.6e-6]
sc = ["False", "True"]
