[numerical]
n_macroparticles = 1000000
n_turns = 50000
n_bin = 100

[bunch]

bunch_current = [0.0012]
Qp = [0, 1.6]
id_state = ["open", "close", "close_phase2"]
include_Zlong = ["False", "True"]
harmonic_cavity = ["False", "True"]
max_kick = [1.6e-6]
sc = ["False", "True"]